ul {
    padding: 0;
}

li {
    -webkit-touch-callout : none;
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    -o-user-select: none;; user-select: none;
}
body {
    background-color: black;
    color:beige;
}

form {
    margin: auto;
    width: 30%;
    /* border: 3px solid green; */
    padding: 10px;
}

.container {
    margin: auto;
    width: 30%;
    /* border: 3px solid rgb(32, 70, 95); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
}

